
/* Use a media query to add a breakpoint at 768px: */
@media (max-width: 768px) {
    .MobileFlagLogin, .menuPhone , .flagMobile, .loginPfp{
      display: block !important;
      border: 0;
      background: none;
      box-shadow: none;
    }
    .loginBtn,.flagNormal, .menuLarge,  .SearchBar i, .reserveImg img, .poweredYTW img, .btnHidden  {
      display: none !important;
    }

    .ytwNavimg-logo img {
      width: 100%;
      height: auto;
    }
    .navbar-brand{
      width: fit-content;
    }
    .headerText {
      font-size:1.5em !important;
    }
    .subheaderText {

      font-size:1em !important;
    }
  
.navbar {
    padding-left: 10px  !important;
    padding-right: 10px  !important;
}

/* Container holding the image and the text */
.bgimg {
  height: 40vw !important;
  width: 100%;
  position: relative;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}



  }
