
/* Use a media query to add a breakpoint at 768px: */
@media (max-width: 768px) {
    .loginPfp, .menuPhone {
      display: block !important;
      border: 0;
      background: none;
      box-shadow: none;
    }
    .loginBtn, .menuLarge,  .SearchBar i, .reserveImg img, .poweredYTW img, .btnHidden  {
      display: none !important;
    }

    .ytwNavimg-logo img {
      width: 100%;
      height: auto;
    }
    .navbar-brand{
      width: fit-content;
    }
    .headerText {
      font-size:1.5em !important;
    }
    .subheaderText {

      font-size:1em !important;
    }
  
.navbar {
    padding-left: 10px  !important;
    padding-right: 10px  !important;
}




  }
