
  *{
    margin: 10px;
    padding: 0;
    font-family: Arial,Verdana;
  }
  .theOrangeText{
    color: orangered;
    line-height:.3;
  }
.part1{
  margin: auto;
  width:50%;
  text-align: center;
}
