* {
  margin: 0;
  padding: 0;
  font-family: Arial, Verdana;
}

.catBtns {
  margin: 10px;
}

/* Container holding the image and the text */
.bgimg {
  height: 25vw;
  /* margin:10px; */
  width: 100%;
  position: relative;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
.page_header_heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ff3300;
}
.headerText{
  font-family: 'Poppins', sans-serif;
  font-size: 4.5vw;
  padding-top: 12vw;
  font-weight:800;
}

/* Centered text */
.centeredHeaderText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navContainer {
  margin: 10px 50px 0px 50px;
  /* top right bottom left */
  text-align: center;
}
.custom-toggler.navbar-toggler {
  color: #ff3300;
} 

li a {
  
  color: #000;
  text-decoration: none;
}
/* mouse over link */
a:hover {
  color: #ff3300;
}
.activeLink a {
  border-bottom: 5px solid #ff3300;
  margin-left: 0.5vw;
}

.select-css{
  border: #FFF ; 
  color: #808080
}
.showMore{
  color: #ff3300;"
}
.timings {
  padding-top: 2vw;
  padding-left: 2vw;
}
#nav {
  height: 45vmin;
  position: absolute;
  left: 0px;

  background-color: #ff3300;
  width: 100%;
  display: flex;
  justify-content: center;
}
.loginBtn .btn {
  padding: 5px 12px;
  margin-left:10px;
}
.centered-nav li {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 29px;
  text-transform: uppercase;
}

/* search box*/
* {
  box-sizing: border-box;
}
.searchBar {
  padding-top: 10vw;
  padding-bottom: 4vw;
}

form.example input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

.menu {
  background: #fff;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #ff3300;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #ff3300;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
/* search bow ends */
.margin0 {
  margin: 0;
}
.btns {  
    color: #808080 !important;
    margin: 1vw;
    background: #fff;
    width: 8vw !important;   
    border-radius: 20px !important; 
    border:0;  
}

.activeBtn{
  border:0;  
  background-color: #FF3300 !important;
  color: #FFF !important;
  border-radius: 20px !important;
}
.filterBtn {
  float: right;
}

/* Style the tab */
.tab {
  float: left;
  background-color: #f1f1f1;
  width: 20%;
  height: 300px;
}

/* Style the buttons that are used to open the tab content */
.tab .tablinks {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab a:hover {
  background-color: #ddd;
  color:#ff3300;
}

.tablinks a:hover {
  color:#ff3300;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
  
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px 0px 12px;
  border: 1px solid #ccc;
  width: 80%;
  border-left: none;
  height: 300px;
}

.icons {
  width: 30px;
  height: 30px;
}
.arrow {
  font-weight: bold;
}
.vcenter-item {
  display: flex;
}
.gallery-imgs {
  width: 80%;
  margin: 0 auto;
  float: none;
  align-items: center;
}
.itemClassification{
  
  height: 20px;
}
.menuItems{
  line-height: 80%;
  padding:0.5vw;
  border-bottom: 1px solid #ccc;
}
.menuItems p{
  color: #808080;
}

.imgFooter img {
  width: 50%;
  height: auto;
}
.footerYtw{
  
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
  background: #F4F4F4;
  margin:0 auto;
  display :flex;
  justify-content: center;
  text-align: center;
} 

.social i { 
 color:#3D4849;
}

.reserv{
  margin:0 auto;
  display :flex;
}
.reserveImg{
  width: 90%;
  margin: 0 auto;
  float: right;
}

.formMargin input{
  margin-top: 10px;;
}
.centered-element{
  width:60%;
  margin: 0 auto;
  display: block;
}
.reviewImgHead{
  width:8vw;
  height:8vw;
  object-fit:cover;
  border-radius:50%;
}
.reviewImg{
  width:5vw;
  height:5vw;
  object-fit:cover;
  border-radius:50%;
}
